.stroke{
  stroke-width: 8px;
  stroke: white;
  fill: none;
  }
body{
  color: #765996;
}
  .background{
  background-color: white;
  background-size: cover;
  }

h1, h2, h3{
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
  color: #47167d;
}

.sans-serif{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.cv{
  width:250px;
}
.grid-container {
  display: grid;
  grid-template-columns: 280px 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.grid-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

#date{
	padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url(icons/calendar_24px.png);
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 30px;
  margin: 0 -35px 0 -35px;
}

#map{
  margin: 0 -35px 0 -35px;	
  padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url("icons/marker_24px.png");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 30px;
}

#about{
  margin: 0 -35px 0 -35px;	
  padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url("icons/about_50px.png");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 30px;
}

#home{
  padding: 25px;
}

.tox-container{
  display: grid;
  grid-template-columns: 118px 118px 118px 118px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.tox-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}
.tox-item{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.toxicon{
  margin-left: 19px;
  width:32px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: -30px;
  font-size: 15px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#experiencias{
  display: grid;
  grid-template-columns: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#experiencias:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

#experiencias{
  padding: 25px;
}

.grid-container3{
  display: grid;
  grid-template-columns: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-container3:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

#educacion{
  padding: 25px;
}

@media only screen and (max-width: 814px) {

  .grid-container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 280px 400px;
  }
  .grid-one{
    grid-column: 1;
    text-align: center;
  }
  .grid-two{
    grid-column: 1;
    grid-row: 2;
    
  }





}
