.topnav{
  background: rgb(181,54,173);
  background: linear-gradient(77deg, rgba(181,54,173,1) 0%, rgba(245,112,85,1) 100%);
  border-radius: 10px;
  padding: 12px 0 12px 0;
  align-content: center;
}

.navitem{
  padding: 8px;
  color: white;
  text-decoration: none;
}

.navitem:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}
.stroke{
  stroke-width: 8px;
  stroke: white;
  fill: none;
  }
body{
  color: #765996;
}
.background{
  background-color: white;
  background-size: cover;
  }

h1, h2, h3{
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
  color: #47167d;
}

.sans-serif{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.cv{
  width:250px;
}
.grid-container {
  display: grid;
  grid-template-columns: 280px 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.grid-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

#date{
	padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url(icons/calendar_24px.png);
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 30px;
  margin: 0 -35px 0 -35px;
}

#map{
  margin: 0 -35px 0 -35px;	
  padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url("icons/marker_24px.png");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 30px;
}

#about{
  margin: 0 -35px 0 -35px;	
  padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url("icons/about_50px.png");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 30px;
}

#home{
  padding: 25px;
}

.tox-container{
  display: grid;
  grid-template-columns: 118px 118px 118px 118px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.tox-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}
.tox-item{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.toxicon{
  margin-left: 19px;
  width:32px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: -30px;
  font-size: 15px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#experiencias{
  display: grid;
  grid-template-columns: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#experiencias:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

#experiencias{
  padding: 25px;
}

.grid-container3{
  display: grid;
  grid-template-columns: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-container3:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

#educacion{
  padding: 25px;
}

/* reglas CSS para formulario */
.form-consulta {
  max-width: 500px; 
  background: rgb(181,54,173);
  background: linear-gradient(77deg, rgba(181,54,173,0.1) 0%, rgba(245,112,85,0.1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px; 
}
.form-consulta:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}
.campo-form {
  width:100%; 
  height:36px; 
  margin:2px 0 6px; 
  padding-left:6px; 
  box-sizing: border-box; 
  border-radius:3px; 
  border:0; 
  font-size:1em;
}
label span {
  color: #f00
}
textarea {
  min-height: 150px!important;
}
.btn-form {
  display: inline-block; 
  border:0; 
  background: rgb(181,54,173);
  background: linear-gradient(77deg, rgba(181,54,173,1) 0%, rgba(245,112,85,1) 100%);
  height: 46px; 
  line-height: 46px; 
  padding: 0 20px; 
  border-radius: 6px; 
  color:#fff; 
  text-decoration: none; 
  text-transform: uppercase; 
  letter-spacing: 1px
}
.btn-form:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

footer{
  width: auto;
  text-align: left;
  padding: 30px;
}

.footer{
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
}


@media only screen and (max-width: 814px) {

  .grid-container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 280px 400px;
  }
  .grid-one{
    grid-column: 1;
    text-align: center;
  }
  .grid-two{
    grid-column: 1;
    grid-row: 2;
    
  }





}
